<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>xhsContext</contextName>

    <!-- 日志的输出目录 -->
    <springProperty name="LOG_HOME" source="logging.file.path"/>
    <springProperty name="APP_NAME" source="spring.application.name"/>
    <property name="ENCODING" value="UTF-8"/>

    <!--自定义颜色配置 此处converterClass引用的是日志颜色类的路径， 此匹配的是第二种控制台色彩输出方式-->
    <conversionRule conversionWord="simpleLogColor" converterClass="cn.wanfeng.sp.config.custom.SimpleLogColorConfiguration"/>

    <!-- 控制台日志 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %green([%thread]) %simpleLogColor(%-5level) %boldMagenta(%logger): %msg%n
            </pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <!-- 日志文件 -->
    <appender name="spLogFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--  要区别于其他的appender中的文件名字  -->
        <file>${LOG_HOME}/${APP_NAME}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger: %msg%n
            </pattern>
            <charset>${ENCODING}</charset>
        </encoder>
        <!-- 设置滚动日志记录的滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志归档路径以及格式 -->
            <fileNamePattern>${LOG_HOME}/info/${APP_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--归档日志文件保留的最大数量-->
            <maxHistory>50</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- 根日志 -->
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="spLogFileAppender"/>
    </root>

    <logger name="customLogger" level="debug">
        <appender-ref ref="spLogFileAppender"/>
    </logger>

</configuration>